
//colors
$off-black: #343524;
$off-white: rgb(193, 221, 198);
$dark-blue: #434533;
$light-blue: #5c5e46;
$blue: #51513c;
$dark-btn: #2c2c1a;
$btn-color: #b1b33d;
$desktop-breakpoint: 45rem;

//spacing
$s-size: 0.7rem;
$m-size: 1.5rem;
$l-size: 2.8rem;
$xl-size: 3rem;